# Ignore Dockerfile
Dockerfile

# Ignore node_modules
node_modules

# Ignore docker compose data
redis-data/

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore build directories
dist
build

# Ignore temporary files
*.tmp
*.swp