services:
  timetable:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: timetable_server
    restart: unless-stopped
    # ports:
      # - "8080:8080"
    environment:
      # Server configuration
      # - PORT=8080
      # - BIND_ADDRESS=127.0.0.1
      - RUST_LOG=info

      # Redis configuration
      - REDIS_HOST=redis
      # - REDIS_PORT=6379
      # - REDIS_DB=0
      # - REDIS_USER=default
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    networks:
      net_timetable:
    depends_on:
      - redis
  redis:
    image: redis:latest
    container_name: timetable_redis
    hostname: redis
    restart: unless-stopped
    # ports:
      # - "6379:6379"
    volumes:
      - ./cache:/data
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD} # MANDATORY
    networks:
      - net_timetable
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]

networks:
  net_timetable:
    external: false
    internal: true